<section class="box">
    <div class="container col-8-medium">
        <div class="row gtr-uniform aln-center">
            <div style="width: 1000px;">
                <div style="background-color: #ffffff; padding:1em; margin-bottom:1em;">
                    <div class="row" style="text-align:center">
                        <h3 class="col-12" style="text-align: center">Глоссарий</h3>
                    </div>
                    <ul style="margin-bottom:1em">
                        <li>Обычный пользователь – пользователь без особых привилегий. Может читать книги, добавлять их в избранное, добавлять закладки, изменять рейтинг книг.</li>
                        <li>Премиум-пользователь – имеет возможности предыдущих ролей пользователей. Добавляется возможность добавлять несколько закладок на книгу и называть закладки. Для премиум-пользователя не отображается реклама</li>
                        <li>Библиотекарь – имеет возможности предыдущих ролей пользователей. Добавляется возможность добавлять, редактировать и удалять книги.</li>
                        <li>Администратор – имеет возможности предыдущих ролей пользователей. Добавляется возможность изменять роли других пользователей.</li>
                        <li>Страница книги - страница, которая содержит основную информацию о книге. На этой странице можно изменить рейтинг книги, добавить её в избранное (только если вы зарегистрированы). С этой страницы библиотекарь может изменять и удалять книгу</li>
                        <li>Закладка – ссылка на определённую страницу книги. Премиум пользователи могут оставлять больше одной закладки на книгу и называть их.</li>
                        <li>Избранное – список любимых книг пользователя, в который пользователь может добавлять новые.</li>
                        <li>Популярность книги – количество посещений страницы книги.</li>
                        <li>Рейтинг книги – определяемая пользователями сайта величина, которая отражает то, большему числу пользователей книга понравилась или не понравилась.</li>
                        <li>Каталог - список книг с возможностью поиска по её основным параметрам (заголовок, серия, автор, жанр). Поиск можно как ограничить одним параметром, так и искать сразу по всем.</li>
                        <li>Профиль – страница, где указана почта, привязанная к аккаунту, все статусы пользователя, если таковые имеются. Также с этой страницы можно сменить пароль и получить доступ к избранному.</li>
                    </ul>
                </div>
                <div style="background-color: #ffffff; padding:1em; margin-bottom:1em;">
                    <div class="row" style="text-align:center">
                        <h3 class="col-12" style="text-align: center">Вопросы и ответы</h3>
                    </div>
                    <blockquote>
                        <b>Q: Как мне найти книгу?</b><br />
                        А: На любой странице нашего сайта сверху располагается строка поиска. Введите название книги, нажмите на кнопку «Поиск» и вы будете переадресованы в каталог. Если такая книга есть у нас в библиотеке, она будет показана на этой странице.
                    </blockquote>
                    <blockquote>
                        <b>Q: Как мне начать читать книгу?</b><br />
                        A: Перейдите на страницу книги из каталога или из поиска с помощью нажатия кнопки "Страница книги" и нажмите на кнопку «Читать» внизу страницы книги.
                    </blockquote>
                    <blockquote>
                        <b>Q: Как изменить шрифт во время чтения книги?</b><br />
                        A: На странице чтения книги найдите выпадающий список, который подписан как "Размер шрифта". Выберите из доступных нужный вам шрифт. Страница перестроится согласно выбранному размеру. !!!ВНИМАНИЕ!!! выбранная настройка касается только размеров шрифта самого текста книги
                    </blockquote>
                    <blockquote>
                        <b>Q: Как перейти на определённую страницу книги?</b><br />
                        A: Первый вариант: использовать поле для ввода слева сверху страницы для чтения, но под "шапкой" сайта, ввести необходимую страницу и подтвердить переход на неё с помощью кнопки "Перейти на страницу". </b><br /> Второй вариант: использовать навигационные кнопки с цифрами немногим вышше текста книги: там можно найти переход на +/- 2 страницы, а также к первой или последней. </b><br />Третий вариант: использовать кнопки "Вперёд" и "Назад" для перехода на следующую или на предыдущую страницу соответсвенно. Кнопки для использования второго или третьего вариантов есть также и внизу страницы.
                    </blockquote>
                    <blockquote>
                        <b>Q: Что мне даст регистрация?</b><br />
                        A: Помимо чтения книги вы сможете добавлять их в избранное, добавлять закладки в книги, а так же изменять рейтинг книг. Избранное будет доступно из вашего профиля, ссылку на который можно найти после регистрации в "шапке" сайта. Там же можно найти страницу с закладками.
                    </blockquote>
                    <blockquote>
                        <b>Q: Как мне зарегистрироваться?</b><br />
                        А: Нажмите на кнопку «Зарегистрироваться» сверху страницы и заполните форму. Все поля должны быть заполнены.
                    </blockquote>
                    <blockquote>
                        <b>Q: Как мне войти в аккаунт?</b><br />
                        А: Нажмите на кнопку «Войти в аккаунт» сверху страницы и заполните форму. Все поля должны быть заполнены.
                    </blockquote>
                    <blockquote>
                        <b>Q: У меня нет кнопки "Зарегистрироваться" или "Войти в аккаунт". Почему так?</b><br />
                        А: Если у вас нет этих кнопок, то, это значит, что вход выполнен.
                    </blockquote>
                    <blockquote>
                        <b>Q: Как узнать, в какой аккаунт выполнен вход?</b><br />
                        А: Вы можете перейти в профиль с помощью соответствующей кнопки вверху страницы и посмотреть почту, привязанную к текущему аккаунту вверху страницы, которая откроется.
                    </blockquote>
                    <blockquote>
                        <b>Q: Как изменить пароль?</b><br />
                        А: Перейдите в профиль и нажмите кнопку "Изменить пароль". Заполните форму.
                    </blockquote>
                    <blockquote>
                        <b>Q: Как выйти из аккаунта?</b><br />
                        А: Выйти из аккаунта можно с помощью кнопки "Выйти из аккаунта" вверху страницы.
                    </blockquote>
                    <blockquote>
                        <b>Q: Как добавить закладку?</b><br />
                        A: Для добавления закладки перейдите на страницу чтения книги и на странице, на которой вы желаете добавить закладку нажмите на кнопку «Добавить закладку» в верхней части страницы.
                    </blockquote>
                    <blockquote>
                        <b>Q: Как добавить книгу в избранное?</b><br />
                        A: Для того, чтобы добавить книгу в избранное перейдите на страницу книги и нажмите на соответствующую кнопку.
                    </blockquote>
                    <blockquote>
                        <b>Q: Можно ли добавить название закладке?</b><br />
                        A: Да, но эта функция доступна только премиум пользователям.
                    </blockquote>
                    <blockquote>
                        <b>Q: Зачем нужен премиум?</b><br />
                        A: У премиум пользователя отключена реклама на сайте. Он может добавлять неограниченное количество закладок, а также давать им имена.
                    </blockquote>
                    <blockquote>
                        <b>Q: Как получить премиум?</b><br />
                        A: На данном этапе разработки - никак. Премиум находится на тестировании, приобрети его пока что нельзя.
                    </blockquote>
                    @if (User.IsInRole("librarian") || User.IsInRole("admin"))
                    {
                    <blockquote>
                        <b>Q: Как редактировать\удалить книгу?</b><br />
                        A: Кнопки редактирования и удаления книги располагаются на странице книги.
                    </blockquote>
                    }
                </div>
            </div>
        </div>
    </div>
</section>