<section class="box">
    <div class="container col-8-medium">
        <div class="row gtr-uniform aln-center">
            <div style="width: 1000px;">
                <div style="background-color: #ffffff; padding:1em; margin-bottom:1em;">
                    <div class="row" style="text-align:center">
                        <h3 class="col-12" style="text-align: center">Глоссарий</h3>
                    </div>
                    <ul style="margin-bottom:1em">
                        <li>Обычный пользователь – пользователь без особых привилегий. Может читать книги, добавлять их в избранное, добавлять закладки, изменять рейтинг книг.</li>
                        <li>Премиум-пользователь – имеет возможности предыдущих ролей пользователей. Добавляется возможность добавлять несколько закладок на книгу и называть закладки. Для премиум-пользователя не отображается реклама</li>
                        <li>Библиотекарь – имеет возможности предыдущих ролей пользователей. Добавляется возможность добавлять, редактировать и удалять книги.</li>
                        <li>Администратор – имеет возможности предыдущих ролей пользователей. Добавляется возможность изменять роли других пользователей.</li>
                        <li>Закладка – ссылка на определённую страницу книги.</li>
                        <li>Избранное – список любимых книг пользователя, в который пользователь может добавлять новые.</li>
                        <li>Популярность книги – количество посещений страницы книги.</li>
                        <li>Рейтинг книги – определяемая пользователями сайта величина, которая отражает то, большему числу пользователей книга понравилась или не понравилась.</li>
                    </ul>
                </div>
                <div style="background-color: #ffffff; padding:1em; margin-bottom:1em;">
                    <div class="row" style="text-align:center">
                        <h3 class="col-12" style="text-align: center">Вопросы и ответы</h3>
                    </div>
                    <blockquote>
                        Q: Как мне найти книгу?<br />
                        А: На любой странице нашего сайта сверху располагается строка поиска. Введите название книги, нажмите на кнопку «Поиск» и вы будете переадресованы на страницу поиска. Если такая книга есть у нас в библиотеке, она будет показана на этой странице.
                    </blockquote>
                    <blockquote>
                        Q: Как мне зарегистрироваться?<br />
                        А: Нажмите на кнопку «Зарегистрироваться» сверху страницы и заполните форму.
                    </blockquote>
                    <blockquote>
                        Q: Как мне начать читать книгу?<br />
                        A: Перейдите на страницу книги из каталога или из поиска и нажмите на кнопку «Читать» внизу страницы книги.
                    </blockquote>
                    <blockquote>
                        Q: Как добавить закладку?<br />
                        A: Для добавления закладки перейдите на страницу чтения книги и на странице, на которой вы желаете добавить закладку нажмите на кнопку «Добавить закладку» в верхней части страницы.
                    </blockquote>
                    <blockquote>
                        Q: Как добавить книгу в избранное?<br />
                        A: Для того, чтобы добавить книгу в избранное перейдите на страницу книги и нажмите на соответствующую кнопку.
                    </blockquote>
                    <blockquote>
                        Q: Можно ли добавить название закладке?<br />
                        A: Да, но эта функция доступна только премиум пользователям.
                    </blockquote>
                    <blockquote>
                        Q: Можно ли искать книгу не только по названию?<br />
                        A: Да, для поиска книги по иному критерию вы можете либо ввести его в строку поиска вверху страницы, либо на странице «Каталог» ввести критерий в соответствующее поле
                    </blockquote>
                    @if (User.IsInRole("librarian") || User.IsInRole("admin"))
                    {
                    <blockquote>
                        Q: Как редактировать\удалить книгу?<br />
                        A: Кнопки редактирования и удаления книги располагаются на странице книги.
                    </blockquote>
                    }
                </div>
            </div>
        </div>
    </div>
</section>