@model AllBookmarksViewModel

<section class="box">
    <div class="container col-6-medium">
        <div class="row gtr-uniform aln-center">
            <div style="background-color: #ffffff; padding:1em;  width:1000px;">
                <form asp-action="Bookmarks" asp-controller="profile">
                    <div class="row">
                        <div class="col-8">
                            <input name="search" placeholder="Введите имя закладки" class="align-center" style="width:100%; height:100%;" />
                        </div>
                        <div class="col-4">
                            <input type="submit" class="button small" value="Найти закладку" />
                        </div>
                    </div>
                </form>
                <div class="row aln-center aln-middle">
                    <h1>Ваши закладки</h1>
                </div>
                @foreach ((string BookName, List<BookmarkViewModel> Bookmarks) corteage in Model.List)
                {
                    if (!(corteage.Bookmarks.Count == 0))
                    {
                    <div class="fa-border" style="margin: 0 0 1em 0; padding: 0.5em">
                        <table style="margin: 0">
                            <thead>
                                <tr>
                                    <td colspan="4" align="center"><h3 style="margin:0">Книга: @corteage.BookName</h3></td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                    </td>
                                    <td width="45%">
                                        Имя закладки
                                    </td>
                                    <td width="15%">
                                        Страница
                                    </td>
                                    <td width="20%">
                                    </td>
                                </tr>
                            </thead>
                            @foreach (BookmarkViewModel bookmark in corteage.Bookmarks)
                            {
                                @await Html.PartialAsync("~/Views/Shared/BookmarkPartial.cshtml", bookmark);
                            }
                            @if (!(User.IsInRole("premium") || User.IsInRole("librarian") || User.IsInRole("admin")))
                            {
                                <tfoot>
                                    <tr>
                                        <td colspan="4" align="center"><h5 style="margin:0">Для того, чтобы иметь возможность добавлять неограниченное кол-во закладок для одной книги и давать закладками имена - приобретите Премиум! <a>Перейти к покупке</a></h5></td>
                                    </tr>
                                </tfoot>
                            }
                        </table>
                    </div>
                    }
                }
            </div>
            </div>
        </div>
</section>