<!DOCTYPE HTML>
<html>
@* Комментарий *@
	<head>
		@await Html.PartialAsync("MetatagsPartial")
        @await Html.PartialAsync("CssPartial")
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
                @await Html.PartialAsync("HeaderPartial")
				@await Html.PartialAsync("MenuPartial")
                @RenderBody()
                @await Html.PartialAsync("FooterPartial")
			</div>
        @await Html.PartialAsync("ScriptsPartial")
	</body>
</html>