@model BookmarkViewModel
<tr>
    <td width="20%">
        <a class="button small" id="cancel-button"
           onclick="fetch('@Context.Request.PathBase/Profile/DeleteBookmark/@Model.Id').then(response => location.reload());">Удалить</a>
    </td>
    <td width="45%">
        @Model.Name
    </td>
    <td width="15%">
        @Model.Page
    </td>
    <td width="20%">
        <a class="button small" href="~/Book/Read/@Model.BookId?page=@Model.Page">Перейти</a>
    </td>
</tr> 
