<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://github.com/negativchik09/BibLib" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <div class="row align-center">
        <p class="col-12" style="margin-bottom:0;">&copy; BibLib 2021-2021</p><a class="col-12" asp-controller="Home" asp-action="Help">Справка</a>
    </div>
</section>