<!-- Header -->
<header id="header">
    <h1><a href="index.html">BibLib</a></h1>
    <nav class="links">
        <ul>
            <li>
                <form class="search" method="post" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <li><a href="#">Войти в аккант</a></li>
                <li><a href="#">Зарегистрироваться</a></li>
            }
            else
            {
                <li><a href="#">Войти в аккаунт</a></li>
                <li><a href="#">Зарегистрироваться</a></li>
            }
        </ul>
    </nav>
</header>
