<!-- Header -->
<header id="header">
    <a asp-action="Index" asp-controller="Home">
        <img src="~/img/logo.png" />
    </a>
    <h1><a asp-action="Index" asp-controller="Home">BibLib</a></h1>
    <nav class="links">
        <ul>
            <li>
                <form class="search" method="post" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <li><a href="#">Войти в аккант</a></li>
                <li><a asp-action="Registration" asp-controller="Account">Зарегистрироваться</a></li>
            }
            else
            {
                <li><a href="#">Войти в аккаунт</a></li>
                <li><a asp-action="Registration" asp-controller="Account">Зарегистрироваться</a></li>
            }
        </ul>
    </nav>
</header>
