<div class="preloader">
    <div class="row">
        <div class="col-6 off-3">
            <div class="image fit">
                <img src="~/img/loader.svg" alt="Подождите, идёт загрузка">
            </div>
        </div>
    </div>
</div>