# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.BibLib.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\repos\RiderProjects\BibLib\.idea\.idea.BibLib\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
