@model BookCreateOrEditViewModel
<section class="box">
    <form method="post" enctype="multipart/form-data" asp-controller="Book" asp-action="EditOrCreate">
        <div class="container col-6-medium">
            <div class="row gtr-uniform">
                <div class="col-3 off-3">
                    <label asp-for="Title" class="align-center"></label>
                    <input asp-for="Title" class="align-center" />
                    <span asp-validation-for="Title" class="align-center"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Author" class="align-center"></label>
                    <input asp-for="Author" class="align-center" />
                    <span asp-validation-for="Author" class="align-center"></span>
                </div>
                <div class="col-3 off-3 ">
                    <label asp-for="Genre" class="align-center"></label>
                    <input asp-for="Genre" class="align-center" />
                    <span asp-validation-for="Genre" class="align-center"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Series" class="align-center"></label>
                    <input asp-for="Series" class="align-center" />
                    <span asp-validation-for="Series" class="align-center"></span>
                </div>
                <div class="col-3 off-3 ">
                    <label asp-for="Image" class="align-center"></label>
                    <input type="file" asp-for="Image" class="align-center" />
                    <span asp-validation-for="Image" class="align-center"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Text" class="align-center"></label>
                    <input type="file" asp-for="Text" class="align-center" />
                    <span asp-validation-for="Text" class="align-center"></span>
                </div>
                <div class="col-6 off-3">
                    <label asp-for="Annotation" class="align-center"></label>
                    <textarea rows="5" cols="30" maxlength="800" asp-for="Annotation" draggable="false"></textarea>
                    <span asp-validation-for="Annotation" class="align-center"></span>
                </div>
                <div class="col-4 off-4 aln-center">
                    <input type="submit" value="Создать/Редактировать" class="button special fit" />
                </div>
            </div>
        </div>
    </form>
</section>